

/* this will target the div class offerDiv */
.ListingDiv { 
  width: 100%;
  height: 20px;
  text-align: center;
}
 

/* targets the welcome message on userpage.js */
#welcome {
    text-align: center;
}